body{
  background-color: #dbdbdb;
  margin: 0 auto;
}
.container{
  width: 1226px;
  margin: 0 auto;
}
.header-bg{
  width: 100%;
  border-bottom: 1px solid #b3b3b3;
  background-color: #fff;
  box-shadow: 0 0 20px 0 #ccc;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}
.header{
  height: 100px;
  margin: 0 auto;
  background-color: #fff;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.header>ul{
  display: flex;
  flex-shrink: 0;
}
.header>ul>li{
  height: 100px;
  width: 150px;
  background-color: #fff;
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  line-height: 100px;
}
.header>ul>li>a{
  display: block;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
}
.line{
  cursor: default;
}
.line-list{
  display: none;
  position: absolute;
  top: 101px;
  z-index: 2;
  background-color: #fff;
  border: 1px solid #ccc;
  width: 600px;
  height: 320px;
  overflow-x: hidden;
  overflow-y: overlay;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}
.line-list::-webkit-scrollbar{
  width: 4px;
}
.line-list::-webkit-scrollbar-track{
  background-color: transparent;
}
.line-list::-webkit-scrollbar-thumb{
  background-color: #ccc;
}
.line:hover .line-list{
  display: block;
}
.line-list>li{
  float: left;
  width: 25%;
  height: 80px;
}
.line-list>li>a{
  display: block;
  line-height: 80px;
  color: #000;
}
.line-list>li>a:hover{
  background-color: #e6e6e6;
}
.search{
  margin-top: 20px;
}
.search form{
  position: relative;
}
.search form input{
  float: left;
  width: 400px;
  height: 60px;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  border: 1px solid #c4c4c4;
  position: relative;
}
.search form input:focus + .search-panel{
  display: block;
}
.search form button{
  float: left;
  width: 100px;
  height: 60px;
  border: 1px solid #cecece;
  border-left: none;
  cursor: pointer;
}
.main{
  width: 1226px;
  overflow: hidden;
  margin: 0 auto;
}
@media screen and (max-width:1226px) {
  .container{
    width: 100%;
    min-width: 690px;
    max-width: 1226px;
  }
  .header>ul>li{
    width: auto;
  }
  .line-list{
    left: 0px;
    width: 100vw;
    min-width: 690px;
    height: 30vh;
  }
  .search{
    flex: 1 auto;
    max-width: 400px;
  }
  .search form{
    display: flex;
    position: relative;
    padding: 0 20px;
  }
  .search form input{
    flex: 1 auto;
  }
  .search form button{
    width: 75px;
  }
  .main{
    display: flex;
    width: 100%;
    min-width: 690px;
  }
}